In [14]:
import pandas as pd
import matplotlib.pyplot as plt

In [15]:
filename = '../data/regression_data.xls'
df = pd.read_excel(filename, header=0)

print(df.shape)
print (df.head(10))

(21597, 21)
           id       date  bedrooms  bathrooms  sqft_living  sqft_lot  floors  \
0  7129300520 2014-10-13         3       1.00         1180      5650     1.0
1  6414100192 2014-12-09         3       2.25         2570      7242     2.0
2  5631500400 2015-02-25         2       1.00          770     10000     1.0
3  2487200875 2014-12-09         4       3.00         1960      5000     1.0
4  1954400510 2015-02-18         3       2.00         1680      8080     1.0
5  7237550310 2014-05-12         4       4.50         5420    101930     1.0
6  1321400060 2014-06-27         3       2.25         1715      6819     2.0
7  2008000270 2015-01-15         3       1.50         1060      9711     1.0
8  2414600126 2015-04-15         3       1.00         1780      7470     1.0
9  3793500160 2015-03-12         3       2.50         1890      6560     2.0

   waterfront  view  condition  ...  sqft_above  sqft_basement  yr_built  \
0           0     0          3  ...        1180              0      1955
1           0     0          3  ...        2170            400      1951
2           0     0          3  ...         770              0      1933
3           0     0          5  ...        1050            910      1965
4           0     0          3  ...        1680              0      1987
5           0     0          3  ...        3890           1530      2001
6           0     0          3  ...        1715              0      1995
7           0     0          3  ...        1060              0      1963
8           0     0          3  ...        1050            730      1960
9           0     0          3  ...        1890              0      2003

   yr_renovated  zipcode      lat     long  sqft_living15  sqft_lot15    price
0             0    98178  47.5112 -122.257           1340        5650   221900
1          1991    98125  47.7210 -122.319           1690        7639   538000
2             0    98028  47.7379 -122.233           2720        8062   180000
3             0    98136  47.5208 -122.393           1360        5000   604000
4             0    98074  47.6168 -122.045           1800        7503   510000
5             0    98053  47.6561 -122.005           4760      101930  1230000
6             0    98003  47.3097 -122.327           2238        6819   257500
7             0    98198  47.4095 -122.315           1650        9711   291850
8             0    98146  47.5123 -122.337           1780        8113   229500
9             0    98038  47.3684 -122.031           2390        7570   323000

[10 rows x 21 columns]

In [16]:
df

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
0,7129300520,2014-10-13,3,1.00,1180,5650,1.0,0,0,3,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,221900
1,6414100192,2014-12-09,3,2.25,2570,7242,2.0,0,0,3,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,538000
2,5631500400,2015-02-25,2,1.00,770,10000,1.0,0,0,3,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,180000
3,2487200875,2014-12-09,4,3.00,1960,5000,1.0,0,0,5,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,604000
4,1954400510,2015-02-18,3,2.00,1680,8080,1.0,0,0,3,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,510000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,2014-05-21,3,2.50,1530,1131,3.0,0,0,3,...,1530,0,2009,0,98103,47.6993,-122.346,1530,1509,360000
21593,6600060120,2015-02-23,4,2.50,2310,5813,2.0,0,0,3,...,2310,0,2014,0,98146,47.5107,-122.362,1830,7200,400000
21594,1523300141,2014-06-23,2,0.75,1020,1350,2.0,0,0,3,...,1020,0,2009,0,98144,47.5944,-122.299,1020,2007,402101
21595,291310100,2015-01-16,3,2.50,1600,2388,2.0,0,0,3,...,1600,0,2004,0,98027,47.5345,-122.069,1410,1287,400000
21596,1523300157,2014-10-15,2,0.75,1020,1076,2.0,0,0,3,...,1020,0,2008,0,98144,47.5941,-122.299,1020,1357,325000

In [ ]:
df.drop(labels='date', axis=1) #drop the column date

In [ ]:
df.shape[0] #number of rows of data

In [ ]:
df.info()

In [ ]:

bedrooms=df.bedrooms.unique()
bedrooms

In [ ]:
print('Unique values in bedrooms: ' + str(bedrooms.size))

In [ ]:
bathrooms=df.bathrooms.unique()
bathrooms
print('Unique values in bathrooms: ' + str(bathrooms.size))

In [ ]:
floors=df.floors.unique()
floors
print('Unique values in floors: ' + str(floors.size))

In [ ]:
condition=df.condition.unique()
condition
print('Unique values in condition: ' + str(condition.size))

In [ ]:
grade=df.grade.unique()
grade
print('Unique values in grade: ' + str(grade.size))

In [ ]:
dfordenado = df.sort_values(by="price", ascending=False) #5
dfordenado.head(10).id

In [ ]:
#6
#average price
print('The average price is: ')
df["price"].mean()

In [ ]:
#7 
be=df.groupby(['bedrooms'])
be["price"].mean().to_frame("Average Price")

In [ ]:
be["sqft_living"].mean().to_frame("Average sqft_living")

In [ ]:
w=df.groupby(['waterfront'])
w["price"].mean().to_frame('Average Price')

In [ ]:
df['condition'].corr(df['grade'])

In [ ]:
col1=df['condition']
col2=df['grade']
plt.rcParams["figure.figsize"] = [7.00, 3.50]
plt.rcParams["figure.autolayout"] = True
plt.plot(col1,col2)
plt.show